body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_ges_name  
{
  color: black;
}
.ges_name
{
  font-size: 40px;
}
.ges
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 17px;
  color: purple;
  padding: 3px;
  background-color: lightgreen;
  border-radius: 10px;
  
}
#p1{
  background-color: lightcoral;
}